body {
    margin: 0px;
    overflow: hidden;
    background-color: #000;
}
.left-box {
    left: 10px;
    position: fixed;
    display: none;
}
.left-box > * {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: monospace;
    color: #ccc;
}
#submit_button {
    cursor: pointer;
}
